h2 {
    font-size: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #3F51B5;
}

.features-gen-box {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
    border-radius: 20px;
    

}

.characteristic-1 {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border: #3F51B5 solid;
    border-radius: 20px;
}

.characteristic-2 {
    width: 200px;
    background-color: antiquewhite;
    border: #3F51B5 solid;
    border-radius: 20px;
}

.characteristic-3 {
    width: 200px;
    background-color: antiquewhite;
    border: #3F51B5 solid;
    border-radius: 20px;
}